{% extends('FrontEndBundle::base.html.twig') %}
{% block siteTitle %}Alle Whitelist Request{% endblock %}
{% block customStyles %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<style>
.template {
    display: none !important;
}

.whitelist-target-entry::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

.domain {
    margin: 0 5px 0 0;
    display: inline;
}

.card-content .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.collapsible {
    box-shadow: none;
    border: none;
}

.collapsible-header {
    background-color: transparent;
    border: none;
}

.accordion-arrow {
    transition: all 0.5s ease;
    transform: rotate(90deg);
    margin-right: 1em;
}

.collapsible-header.active .accordion-arrow {
    transform: rotate(180deg);
}
.decision{
    display:                flex;
    flex-flow:              row nowrap;
    justify-content:        center;
    align-items:            center;
}
.decided-by-container{
    display:                flex;
    flex-flow:              column nowrap;
    justify-content:        center;

    margin-right:           10px;
    line-height:            1.2em;
}
.decision-btns {

}
.allowed {
    background: #c8e6c9;
}

.denied {
    background: #ef9a9a;
}

.pending {
    background: #b3e5fc;
}
.domain-container{
    flex-grow:                  1;
}
.decision-list {
    background-color: transparent;
    min-width: 0;
    box-shadow: none;
    top: unset !important;
}

.decision-list li {
    border-radius: 50%;
    width: 55.5px;
    height: 55.5px;
}

hr {
    border: 0;
    height: 1px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.allow-button, .deny-button, .open-button, .visit-button{
    display:                flex;
    flex-flow:              row nowrap;
    justify-content:        center;
    align-items:            center;
}
.decision-btns i{
    color:  #fff;
    margin: 0;
}
.allowed .allow-button {
    display: none;
}
.denied .deny-button {
    display: none;
}

.dropdown-button {
    background: #aaa;
}

.allowed .dropdown-button {
    background: #8bc34a;
}

.denied .dropdown-button {
    background: #c62828;
}

.decision-status-btn-denied,
.decision-status-btn-allowed,
.decision-status-btn-pending {
    display: none !important;
}

.allowed .decision-status-btn-allowed {
    display: block !important;
}
.denied .decision-status-btn-denied {
    display: block !important;
}
.pending .decision-status-btn-pending {
    display: block !important;
}
@media all and (max-width: 449px){
    .accordion-arrow{
        display:                none;
    }
    .card-content .header{
        flex-wrap: wrap;
    }
    .decided-by-container{
        order: 1;
    }
    .decision {
        margin-left: auto;
    }
}
</style>
{% endblock %}
{% block customScripts %}
    <script src="{{ asset('bundles/frontend/js/sortTargets.js') }}"></script>
<script>
'use strict';
var apikey = localStorage.getItem('apikey');
var stateClasses = ['pending', 'allowed', 'denied'];
$(document).ready(function () {
    if (apikey == "null")
        window.open('/nwl/web/app_dev.php/frontend/login', '_self');
    $.ajax({
        url: '{{ path('list_white_list_targetswhitelistTarget.all') }}',
        type: "GET",
        headers: {"apikey": apikey },
        success: function (data) {
            data = sortTargets(data);
            insertTargets(data.pending, '#whitelist-requests-pending');
            insertTargets(data.processed, '#whitelist-requests-done');
            //$('.decision-btns').trigger('click');
        }
    });

    function insertTargets(data, elementSelector) {
        $.each(data, function (index, target) {

            var targetTemplate = $('#whitelist-target-template').clone(true);
            targetTemplate.removeAttr('id');
            targetTemplate.removeClass('template');

            var adminName;
            var decisionDate;
            if(target.decided_by){
                if(!target.decided_by.firstname&&!target.decided_by.lastname) {
                    adminName = target.decided_by.firstname+" "+target.decided_by.lastname;
                }else{
                    adminName = target.decided_by.username;
                }
                decisionDate = new Date(target.decision_date).format('dd.mm.yyyy " um " H:MM " Uhr"');
            }else{
                targetTemplate.find('.decided-by-container').hide();
            }

            targetTemplate.find('.domain').text(target.domain);
            targetTemplate.find('.decided-by').text(adminName);
            targetTemplate.find('.decision-date').text(decisionDate);
            targetTemplate.addClass(stateClasses[target.state]);
            targetTemplate.find('.allow-button').attr('data-id', target.id);
            targetTemplate.find('.deny-button').attr('data-id', target.id);
            targetTemplate.find('.visit-link').attr('href', '//' + target.domain);
            targetTemplate.find('.dropdown-button').attr('data-activates','decision-buttons-'+target.id);
            targetTemplate.find('.dropdown-content').attr('id','decision-buttons-'+target.id);

            $.each(target.whitelist_requests, function (requestIndex, request) {
                var requestTemplate = $('#whitelist-target-request-template').clone();
                requestTemplate.removeAttr('id');
                requestTemplate.removeClass('template');

                var formattedDate = new Date(request.created);
                formattedDate = formattedDate.format('dd.mm.yyyy " um " H:MM " Uhr"');

                requestTemplate.find('.user').text(request.user.username);
                requestTemplate.find('.reason').text(request.reason);
                requestTemplate.find('.created').text(formattedDate);

                targetTemplate.find('.whitelist-target-request-table').append(requestTemplate);
            });

            $(elementSelector).append(targetTemplate);
            $('.dropdown-button').dropdown({
                inDuration: 300,
                outDuration: 225,
                constrain_width: false, // Does not change width of dropdown to that of the activator
                hover: false, // Activate on hover
                gutter: 0, // Spacing from edge
                belowOrigin: true, // Displays dropdown below the button
                alignment: 'center' // Displays dropdown with edge aligned to the left of button
            });
            //requestTemplate.delay(index*150).fadeIn(300);
        });
    }

    $('.decision-btns').click(function(event) {
        event.stopPropagation();
    });

    $(document).on('click', '.decision-btns', function(event) {
        //event.stopPropagation();
        $(this).find('.dropdown-button').dropdown('toggle');
    });

    $('.allow-button').click(function (event) {
        event.stopPropagation();
        var id = $(this).attr('data-id');
        decideFor(id, 1);
    });
    $('.deny-button').click(function (event) {
        event.stopPropagation();
        var id = $(this).attr('data-id');
        decideFor(id, 2);
    });
});
function decideFor(id, state) {
    var urlLink = Routing.generate('decide_for_white_list_request_route', { id: id });
    $.ajax({
        url: urlLink,
        type: "POST",
        headers: {"apikey": apikey },
        data: {state: state},
        success: function () {
            //update();
        },
        dataType: "json"
    });
}
function update(btn) {
    console.log(btn);
    var targetEntry = btn.parent().parent().parent().parent();
    console.log(targetEntry);
}
</script>
{% endblock %}
{% block title %}
    <h1 class="flow-text">Alle Whitelist-Anfragen</h1>
{% endblock %}
{% block mainContent %}
<div class="whitelist-target-list container">

    <div id="whitelist-target-template" class="whitelist-target-entry card template">
        <div class="card-content">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <header class="header collapsible-header">
                        <div class="domain-container">
                            <div class="material-icons accordion-arrow">navigation</div>
                            <h2 class="domain flow-text ">Domain-Name</h2>
                        </div>

                        <div class="decided-by-container">
                            <div>
                                <label>entschied:</label>
                                <span class="decided-by"></span>
                            </div>
                            <div>
                                <label>am:</label>
                                <span class="decision-date"></span>
                            </div>
                        </div>
                        <div class="decision">
                            <div class="decision-btns">
                                <a class='dropdown-button btn-floating btn-large waves-effect waves-light open-button'
                                   data-activates='decision-buttons'>
                                    <i class="material-icons decision-status-btn-pending">thumbs_up_down</i>
                                    <i class="material-icons decision-status-btn-allowed">thumb_up</i>
                                    <i class="material-icons decision-status-btn-denied">thumb_down</i>
                                </a>
                                <ul id='decision-buttons' class='dropdown-content decision-list'>
                                    <li class="waves-effect waves-green blue lighten-2 visit-button">
                                        <a class="visit-link" href="#" target="_blank"><i class="material-icons" title="Website besuchen">open_in_new</i></a>
                                    </li>
                                    <li class="waves-effect waves-green light-green allow-button">
                                        <i class="material-icons" title="Domain freigeben">thumb_up</i>
                                    </li>
                                    <li class="waves-effect waves-red red darken-3 deny-button">
                                        <i class="material-icons" title="Freigabeantrag ablehnen">thumb_down</i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                    <div class="container collapsible-body">
                        <table class="responsive-table">
                            <thead>
                            <tr>
                                <th class="user">Benutzer</th>
                                <th class="reason">Grund</th>
                                <th class="created">Erstellt</th>
                            </tr>
                            </thead>
                            <tbody class="whitelist-target-request-table">
                            <tr id="whitelist-target-request-template" class="template">
                                <td class="user">User</td>
                                <td class="reason">Reason</td>
                                <td class="created">Created</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <section id="whitelist-requests-pending">

    </section>
    <hr>
    <section id="whitelist-requests-done">

    </section>
</div>
{% endblock %}