{% extends('FrontEndBundle::base.html.twig') %}
{% block siteTitle %}Alle Whitelist Request{% endblock %}
{% block customStyles %}
<style>
.template {
    display: none;
}
.whitelist-target-entry::after{
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}
.whitelist-target-entry.allowed::after{
    background-image: url('{{ asset('bundles/frontend/img/allowed.png') }}');
}

.whitelist-target-entry.pending::after {
    background-image: url('{{ asset('bundles/frontend/img/pending.png') }}');
}

.whitelist-target-entry.denied::after {
    background-image: url('{{ asset('bundles/frontend/img/denied.png') }}');
}
.links{
    margin-top:         10px;
}
.domain{
    margin:             0 5px 0 0;
    display: inline;
}
.card-content .header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding-right: 60px;
}

.collapsible {
    box-shadow: none;
    border: none;
}

.collapsible-header {
    background-color: transparent;
    border: none;
}

.accordion-arrow {
    transition: all 0.5s ease;
    transform: rotate(90deg);
}

.collapsible-header.active .accordion-arrow {
    transform: rotate(180deg);
}
.decision-btns{
    padding:            10px;
}
.allowed{
    background:  #c8e6c9;
}
.denied{
    background:  #ef9a9a;
}
.pending{
    background:  #b3e5fc;
}
.allowed .decision-btns .allow-btn{
    display: none;
}
.denied .decision-btns .deny-btn{
    display: none;
}
</style>
{% endblock %}
{% block customScripts %}
<script>
'use strict';
var apikey = localStorage.getItem('apikey');
var stateClasses = ['pending', 'allowed', 'denied'];
$(document).ready(function() {
    //$('.collapsible').collapsible({accordion: false});
    $('.allow-btn').click(function(event){
        event.stopPropagation();
        var element = $(this);
        var state = 1;
        var admin = 67890;
        console.log(apikey);
        var id = element.attr('data-id');
        $.ajax({
            url:'/nwlProject/nwl/web/app_dev.php/api/whitelist-target/'+id,
            type:"POST",
            headers: {
                "apikey" : apikey
            },
            data:{state: state, admin: admin},
            success: function(){ update(element); },
            dataType:"json"
        });
    });
    $('.deny-btn').click(function(event){
        event.stopPropagation();
        var element = $(this);
        var state = 2;
        var admin = 67890;
        var id = element.attr('data-id');
        $.post('/nwlProject/nwl/web/app_dev.php/api/whitelist-target/'+id,{state: state, admin: admin}, function(){
            update(element);
        });
    });

    $.ajax({
        url: '{{ path('list_white_list_targetswhitelistTarget.all') }}',
        type: "GET",
        headers: {
            "apikey": apikey
        },
        success: function (data) {
            $.each(data, function (index, target) {

                var targetTemplate = $('#whitelist-target-template').clone(true);
                targetTemplate.removeAttr('id');
                targetTemplate.removeClass('template');

                targetTemplate.find('.domain').text(target.domain);
                targetTemplate.addClass(stateClasses[target.state]);
                targetTemplate.find('.allow-btn').attr('data-id', target.id);
                targetTemplate.find('.deny-btn').attr('data-id', target.id);

                $.each(target.whitelist_requests, function (requestIndex, request) {
                    var requestTemplate = $('#whitelist-target-request-template').clone();
                    requestTemplate.removeAttr('id');
                    requestTemplate.removeClass('template');

                    var formattedDate = new Date(request.created);
                    formattedDate = formattedDate.format('dd.mm.yyyy " um " H:MM " Uhr"');

                    requestTemplate.find('.user').text(request.user.username);
                    requestTemplate.find('.reason').text(request.reason);
                    requestTemplate.find('.created').text(formattedDate);

                    targetTemplate.find('.whitelist-target-request-table').append(requestTemplate);
                });
                $('.whitelist-target-list').append(targetTemplate);

                //requestTemplate.delay(index*150).fadeIn(300);
            });
        }
    });

});
function update(btn)
{
    console.log(btn);
    var targetEntry = btn.parent().parent().parent().parent();
    console.log(targetEntry);
}
</script>
{% endblock %}
{% block title %}
    <h1>Meine Whitelist-Anfragen</h1>
{% endblock %}
{% block mainContent %}
<div class="whitelist-target-list container">

    <div id="whitelist-target-template" class="whitelist-target-entry card template">
        <div class="card-content">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
            <header class="header collapsible-header">
                <div class="material-icons accordion-arrow">navigation</div>
                <h2 class="domain">Domain-Name</h2>
                <div class="decision-btns">
                    <div class="btn waves-effect waves-green light-green allow-btn">Freigeben</div>
                    <div class="btn waves-effect waves-red red darken-3 deny-btn">Ablehnnen</div>
                </div>
            </header>
            <div class="container collapsible-body">





                            <table>
                                <thead>
                                <tr>
                                    <th class="user">Benutzer</th>
                                    <th class="reason">Grund</th>
                                    <th class="created">Erstellt</th>
                                </tr>
                                </thead>
                                <tbody class="whitelist-target-request-table">
                                <tr id="whitelist-target-request-template" class="template">
                                    <th class="user">User</th>
                                    <th class="reason">Reason</th>
                                    <th class="created">Created</th>
                                </tr>
                                </tbody>
                            </table>





            </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}