{% extends('FrontEndBundle::base.html.twig') %}

{% block siteTitle %}Nestecs-Login{% endblock %}

{% block customStyles %}
<style>
fieldset{
    border-color:               #26a69a;
}
.form > .btn-container{
    margin:                     10px 0 0 0;

    display:                    flex;
    flex-flow:                  row nowrap;
    justify-content:            center;
}
@media (max-width: 499px) {
    .btn-container > button{
        width:                      100%;
    }
}
@media ( min-width: 500px) {
    .btn-container > button{
        width:                      300px;
    }
}
</style>
{% endblock %}
{% block customScripts %}
<script>
$(document).ready(function(){

    $('.form button').click(function(event){
        var params = $('.form').serialize();
        var username = $('#username').val();
        console.log(username);
        $.post('{{ path('loginsecurity.auth') }}', params, function (data) {
            if (null != data.token) {
                var apikey = data.token;
                localStorage.setItem('apikey', apikey);
                window.open('./whitelist-request/'+username, '_self');
            }
        });
        event.preventDefault();
    });

});
</script>
{% endblock %}

{% block headerLinks %}{% endblock %}
{% block headerLinksRight %}{% endblock %}
{% block headerLinksSide %}{% endblock %}

{% block title %}
    <h1>Login</h1>
{% endblock %}

{% block mainContent %}
<div class="container">
    <form class="form">
        <fieldset>
            <legend>Benutzername</legend>
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" id="username" name="username" placeholder="Dein Benutzername" class="validate"/>
            </div>
        </fieldset>
        <fieldset>
            <legend>Passwort</legend>
            <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input type="password" id="password" name="password" placeholder="Dein Passwort" class="validate"/>
            </div>
        </fieldset>
        <div class="btn-container">
            <button class="btn-large waves-effect waves-teal">
                Einloggen
                {#<i class="large material-icons">input</i>#}
            </button>
        </div>
    </form>
</div>
{% endblock %}