{% extends('FrontEndBundle::base.html.twig') %}

{% block siteTitle %}Nestecs-Login{% endblock %}

{% block customStyles %}
    <style>


        .container {
            margin-top: 3%;
        }

        h3 {
            margin-top: 11%;
        }
        
        .button-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            padding: 10px 20px;
        }

        @media all and (max-width: 449px) {
            .button-container button {
                width: 100%;
            }
        }

        #toast-container {
            top: auto !important;
            right: auto !important;
            bottom: 10%;
            left:7%;
        }
    </style>
{% endblock %}
{% block customScripts %}
    <script>
        var user = sessionStorage.getItem('user');
        console.log(user);
        if (user != null) {
            sessionStorage.setItem('user', null);
        }
        $(document).ready(function () {
            if (user != "null")
                $('#username').val(user);

            if (!$('#username').val()) {
                $('#username').attr('placeholder', 'enter your name here').focus();
            } else {
                $('#password').attr('placeholder', 'enter your password here').focus();
            }


            $('form button').click(function (event) {
                var params = $('form').serialize();
                var username = $('#username').val();
                $.post('{{ path('loginsecurity.auth') }}', params, function (data) {
                    if (null == data.token) {
                        Materialize.toast(data.message, 3000, 'rounded');
                    } else {
                        var apikey = data.token;
                        localStorage.setItem('apikey', apikey);
                        if (sessionStorage.getItem('url') == null) {
                            window.open('./whitelist-request/' + username, '_self');
                        } else {
                            window.open('./whitelist-request/' + username + '/create', '_self');
                        }
                    }
                });
                event.preventDefault();
            });

        })
        ;
    </script>
{% endblock %}

{% block headerLinks %}{% endblock %}
{% block headerLinksRight %}{% endblock %}
{% block headerLinksSide %}{% endblock %}

{% block title %}
    <div class="center-align">
        <h3>Login</h3>
        <h1><i class="medium material-icons center">account_circle</i></h1>
    </div>
{% endblock %}

{% block mainContent %}
    <div class="container">
        <form method="POST" novalidate>
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <input id="username" type="text" class="validate" name="username">
                    <label id="userLabel" for="username"><i
                                class="material-icons left">account_circle</i>Benutzername</label>
                </div>
                <div class="input-field col s10 offset-s1">
                    <input type="password" id="password" name="password" class="validate"/>
                    <label id="passwordLabel" for="password"><i class="material-icons left">lock</i>Passwort</label>
                </div>
            </div>
            <div class="button-container">
                <button id="sub" style="background-color: #6882A2"
                        class="waves-effect waves-light btn modal-trigger col s2" href="#modal1">Einloggen
                </button>
            </div>
        </form>
    </div>
{% endblock %}