{% extends('FrontEndBundle::base.html.twig') %}

{% block siteTitle %}Nestecs-Login{% endblock %}

{% block customStyles %}
<style>
.button-container{
    display:            flex;
    flex-flow:          row nowrap;
    justify-content:    center;
    align-items:        center;
    padding:            10px 20px;
}
@media all and (max-width: 449px){
    .button-container button{
        width:  100%;
    }
}
.btn {
    border-radius: 20px;
}
h3 {
    margin-top: 11%;
}
    </style>
{% endblock %}
{% block customScripts %}
    <script>
        $(document).ready(function () {
            console.log(sessionStorage.getItem('url'));
            $('form button').click(function (event) {
                var params = $('form').serialize();
                var username = $('#username').val();
                console.log(username);
                $.post('{{ path('loginsecurity.auth') }}', params, function (data) {
                    if (null != data.token) {
                        var apikey = data.token;
                        localStorage.setItem('apikey', apikey);
                        console.log(sessionStorage.getItem('url'));
                        if (sessionStorage.getItem('url') == null) {
                            window.open('./whitelist-request/' + username, '_self');
                        } else {
                            console.log(sessionStorage.getItem('url'));
                            window.open('./whitelist-request/' + username + '/create', '_self');
                        }
                    }
                });
                event.preventDefault();
            });

        });
    </script>
{% endblock %}

{% block headerLinks %}{% endblock %}
{% block headerLinksRight %}{% endblock %}
{% block headerLinksSide %}{% endblock %}

{% block title %}
    <div class="center-align">
        <h3>Login</h3>
        <h1><i class="medium material-icons center">account_circle</i></h1>
    </div>
{% endblock %}

{% block mainContent %}
    <div class="container">
        <form method="POST" novalidate>
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <input id="username" type="text" class="validate" name="username">
                    <label for="username"><i class="material-icons left">account_circle</i>Benutzername</label>
                </div>
                <div class="input-field col s10 offset-s1">
                    <input type="password" id="password" name="password" class="validate"/>
                    <label for="password"><i class="material-icons left">lock</i>Passwort</label>
                </div>
            </div>
            <div class="button-container">
                <button id="sub"
                        class="waves-effect waves-light btn modal-trigger col s2" href="#modal1">Einloggen
                </button>
            </div>
        </form>
    </div>
{% endblock %}