{% extends('FrontEndBundle::base.html.twig') %}
{% block customStyles %}
    <style>
        .btn {
            border-radius: 20px;
        }

        #container {
            margin-top: 3%;
        }

        h3 {
            margin-top: 11%;
        }

        .dummy {
            visibility: hidden;
        }
    </style>
{% endblock %}

{% block customScripts %}
    <script src="{{ asset('bundles/frontend/js/domainValidation.js') }}"></script>
    <script>
        var url;
        var user;
        if (sessionStorage.getItem('user') == null) {
            user = '{{ user }}';
        } else {
            user = sessionStorage.getItem('user');
        }

        var apikey = localStorage.getItem('apikey');
        url = (sessionStorage.getItem('url') == null) ? '{{ url }}' : sessionStorage.getItem('url');
        sessionStorage.setItem('url', url);
        sessionStorage.setItem('user', user);
        $(document).ready(function () {
            var reason =
            $('.modal-trigger').leanModal();
            if (apikey == "null") {
                window.open('../../login', '_self');
            } else {
                urlFromStahl(url);
                $('#headers').removeAttr("hidden");
                $('#container').removeAttr("hidden");
            }
            $('#sub').click(function(event){
                event.preventDefault();
            });
            $('#submitting').on('click', function(){
                var username = '{{ username }}';
                url = $('#domain').val();
                var urlLink = Routing.generate('create_white_list_request_route', { username: username});
                $.ajax({
                    url: urlLink,
                    type: "POST",
                    headers: {"apikey": apikey },
                    data: {domain : url, reason : $('#reason').val()},
                    dataType: 'json',
                    success: function (data) {
                        window.open('../' + username, '_self');
                    },
                    error: function(data){
                        Materialize.toast("Ein Fehler ist aufgetreten. Bitte überprüfen Sie ihre Eingaben!", 3000, 'rounded');
                    }
                });
            })
        });

        function updateSubmit() {
            if ($("#domain").val() == '' || $("#reason").val() == '') {
                $("#sub").addClass("disabled").prop('disabled', true);
            } else {
                $("#sub").removeClass("disabled").prop('disabled', false);
            }
            if (!validateUserInput()) {
                $("#sub").addClass("disabled").prop('disabled', true);
            }
        }

        function urlFromStahl(url) {
            var parsedUrl = parseURL(url);
            if (parsedUrl != null) {
                var newUrl = url;
                if (parsedUrl.protocol.length <= 0) {
                    newUrl = "http://" + newUrl;
                }
                if (!parsedUrl.path) {
                    newUrl += "/";
                }
                parsedUrl = parseURL(newUrl);
                if (parsedUrl.subdomain === "www") {
                    $("#domain").val(parsedUrl.parent_domain);
                } else {
                    $("#domain").val(parsedUrl.domain);
                }
            }
        }

        function validateUserInput() {
            var url = $("#domain").val();
            var parsedUserUrl = parseURL(url);
            if (parsedUserUrl != null) {
                if (parsedUserUrl.protocol.length <= 0) {
                    url = "http://" + url;
                }
                if (parsedUserUrl.path == null) {
                    url += "/";
                }
                parsedUserUrl = parseURL(url);

                if (parsedUserUrl.host != "www" && parsedUserUrl.tld && parsedUserUrl.tld.length > 1 && /^[a-zA-Z\.]+$/.test(parsedUserUrl.tld)) {
                    return true;
                } else {
                    return false;
                }
            }
        }

        function validUserUrl() {
            var url = $("#domain").val();
            var parsedUserUrl = parseURL(url);
            if (parsedUserUrl != null) {
                if (parsedUserUrl.protocol.length <= 0) {
                    url = "http://" + url;
                }
                if (parsedUserUrl.path == null) {
                    url += "/";
                }
                parsedUserUrl = parseURL(url);
                if (parsedUserUrl.subdomain === "www") {
                    $("#domain").val(parsedUserUrl.parent_domain);
                } else {
                    $("#domain").val(parsedUserUrl.domain);
                }
            } else {
                // Ungültige URL (Validierung failed (muss 1x Punkt haben und vor und nach dem Punkt etwas stehen haben)
            }
        }

    </script>
{% endblock %}

        {% block title %}
            <div id="headers" hidden="hidden" class="center-align">
                <h3>Entsperren</h3>
                <h5>Teilen Sie dem Administrator mit, welche Seite entsperrt werden soll und
                    warum: </h5>
                <h1><i class="medium material-icons center">lock_open</i></h1>
            </div>
        {% endblock %}

    {% block mainContent %}
        <div hidden="hidden" id="container" class="container">
            <form novalidate>
                <div class="row">
                    <div class="input-field col s9 offset-s1">
                        <input id="domain" type="text" class="validate" name="domain"
                               oninput="updateSubmit()">
                        <label for="domain"><i class="tiny material-icons left">language</i>Domain</label>
                    </div>
                    <div class="input-field col s9 offset-s1">
                        <textarea id="reason" class="materialize-textarea" length="150" name="reason"
                                  oninput="updateSubmit()"></textarea>
                        <label for="reason"><i
                                    class="tiny material-icons left">chat_bubble_outline</i>Begründung</label>
                    </div>
                </div>
                <div class="row">
                    <div class="waves-effect waves-light btn col s5 dummy">Abschicken</div>
                    <button disabled="disabled" id="sub"
                            class="waves-effect waves-light btn modal-trigger disabled col s2" href="#modal1">Los
                    </button>
                    <div class="waves-effect waves-light btn col s5 dummy">Abschicken</div>
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h4>Anfrage versenden</h4>
                            <p>Durch Klicken auf "Bestätigen" wird Ihre Anfrage an den Admin gesenden.
                                </br> Sie werden dann auf Ihre Übersicht weitergeleitet.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!"
                               class=" modal-action modal-close waves-effect waves-green btn-flat">Abbrechen</a>
                            <div id="submitting" class="modal-action modal-close waves-effect waves-green btn-flat"
                                    onclick="validUserUrl()">Bestätigen
                            </div>
                        </div>
                    </div>
                </div>
            </form>
    {% endblock %}