{% extends('FrontEndBundle::base.html.twig') %}
{% block customStyles %}
    <style>
        .btn {
            border-radius: 20px;
        }

        #container {
            margin-top: 3%;
        }

        h3 {
            margin-top: 11%;
        }

        .dummy {
            visibility: hidden;
        }
    </style>
{% endblock %}

{% block customScripts %}
    <script src="{{ asset('bundles/frontend/js/domainValidation.js') }}"></script>
    <script>
        var apikey = localStorage.getItem('apikey');
        $(document).ready(function () {
            $('.modal-trigger').leanModal();
        });

        function updateSubmit() {
            console.log(apikey);
            if ($("#domain").val() == '' || $("#reason").val() == '') {
                $("#sub").addClass("disabled").prop('disabled', true);
            } else {
                $("#sub").removeClass("disabled").prop('disabled', false);
            }
            if(!validateUserInput()){
                $("#sub").addClass("disabled").prop('disabled', true);
            }
        }

        function urlFromStahl(url){
            var parsedUrl = parseURL(url);
            var newUrl = url;
            if(parsedUrl.path == null){
                newUrl+= "/";
            }
            parsedUrl = parsedUrl(newUrl);
            if(parsedUrl.subdomain === "www"){
                $("#domain").val(parsedUrl.parent_domain);
            }else{
                $("#domain").val(parsedUrl.domain);
            }

        }

        function validateUserInput(){
            var url = $("#domain").val();
            var parsedUserUrl = parseURL(url);
            if(parsedUserUrl != null){
                if(parsedUserUrl.protocol.length <= 0){
                    url = "http://"+url;
                }
                if(parsedUserUrl.path == null){
                    url += "/";
                }
                parsedUserUrl = parseURL(url);

                if(parsedUserUrl.host != "www" && parsedUserUrl.tld && parsedUserUrl.tld.length > 1 && /^[a-zA-Z\.]+$/.test(parsedUserUrl.tld)){
                    return true;
                }else{
                    return false;
                }
            }
        }

        function validUserUrl(){
            var url = $("#domain").val();
            var parsedUserUrl = parseURL(url);
            if(parsedUserUrl != null){
                if(parsedUserUrl.protocol.length <= 0){
                    url = "http://"+url;
                }
                if(parsedUserUrl.path == null){
                    url += "/";
                }
                parsedUserUrl = parseURL(url);
                if(parsedUserUrl.subdomain === "www"){
                    $("#domain").val(parsedUserUrl.parent_domain);
                }else{
                    $("#domain").val(parsedUserUrl.domain);
                }
            }else{
                // Ungültige URL (Validierung failed (muss 1x Punkt haben und vor und nach dem Punkt etwas stehen haben)
            }
        }

    </script>
{% endblock %}

        {% block title %}
            <div class="center-align">
                <h3>Entsperren</h3>
                <h5>Teilen Sie dem Administrator mit, welche Seite entsperrt werden soll und
                    warum: </h5>
                <h1><i class="medium material-icons center">lock_open</i></h1>
            </div>
        {% endblock %}

    {% block mainContent %}
        <div id="container" class="container">
        <form method="POST">
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <input id="domain" type="text" class="validate" name="domain"
                               oninput="updateSubmit()">
                        <label for="domain"><i class="tiny material-icons left">language</i>Domain</label>
                    </div>
                    <div class="input-field col s10 offset-s1">
                        <textarea id="reason" class="materialize-textarea" length="150" name="reason"
                                  oninput="updateSubmit()"></textarea>
                        <label for="reason"><i
                                    class="tiny material-icons left">chat_bubble_outline</i>Begründung</label>
                    </div>
                </div>
                <div class="row">
                    <div class="waves-effect waves-light btn col s5 dummy">Abschicken</div>
                    <button disabled="disabled" id="sub"
                            class="waves-effect waves-light btn modal-trigger disabled col s2" href="#modal1">Los
                    </button>
                    <div class="waves-effect waves-light btn col s5 dummy">Abschicken</div>
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h4>Anfrage versenden</h4>
                            <p>Durch Klicken auf "Bestätigen" wird Ihre Anfrage an den Admin gesenden.
                                </br> Sie werden dann auf Ihre Übersicht weitergeleitet.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!"
                               class=" modal-action modal-close waves-effect waves-green btn-flat">Abbrechen</a>
                            <button class=" modal-action modal-close waves-effect waves-green btn-flat"
                                    onclick="validUserUrl()" type="submit"
                                    name="action">Bestätigen
                            </button>
                        </div>
                    </div>
                </div>
            </form>


        <!-- action="{{ path('whitelist-request.list', {'username': username}) }}" -->

    {% endblock %}