{% extends('FrontEndBundle::base.html.twig') %}
{% block customscripts %}
<script>
$(document).ready(function(){
    $('#createRequest').click(function(event){
        var postParams = {};
        var inputs = document.querySelectorAll('form input');
        for(var input of inputs){
            var name = input.name;
            var value = input.value;
            postParams[name] = value;
        }
        $.post('{{ path('create_white_list_request', {'username': username}) }}',postParams, function(data){
            if(null != data){
                location.href = '{{ path('whitelist-request.list') }}';
            }
        });
        event.preventDefault();
    });
});
</script>
{% endblock %}
{% block header %}
    <h1>Erstelle eine Whitelist-Anfrage</h1>
{% endblock %}
{% block maincontent %}
    <form>
        <fieldset class="field">
            <label>URL</label>
            <input type="text" name="domain" placeholder="Die freizuschaltene URL"/>
        </fieldset>
        <fieldset>
            <label>Begründung</label>
            <input type="text" name="reason" placeholder="Begründung zur Freischaltung"/>
        </fieldset>

        <button id="createRequest">Speichern</button>
    </form>
{% endblock %}
{% block customstyles %}
    <link rel="stylesheet" href="{{ asset('bundles/frontend/css/requestform.css') }}"/>
    <style>

    </style>
{% endblock %}
