{% extends('FrontEndBundle::base.html.twig') %}
{% block customStyles %}
    <style>
        .btn {
            border-radius: 20px;
        }
    </style>
{% endblock %}

{% block customScripts %}
    <script>
        function jakoo() {
            if ($("#domain").val() == '' || $("#reason").val() == '') {
                $("#sub").addClass("disabled");
                $('#sub').prop('disabled', true);
            } else {
                $("#sub").removeClass("disabled");
                $('#sub').prop('disabled', false);
            }
        }
    </script>
{% endblock %}



            {% block headerLinks %}

            {% endblock %}


        {% block title %}
            <h3 class="center-align" style="margin-top: 11%">Entsperren</h3>
            <h5 class="center-align">Teilen Sie dem Administrator mit, welche Seite entsperrt werden soll und
                warum: </h5>
        {% endblock %}

    {% block mainContent %}
        <div class="container" style="margin-top: 8%">
            <form method="POST">
                <div class="row">
                    <div class="input-field col s9 offset-s1">
                        <input id="domain" type="text" class="validate" name="domain" onload="jakoo()"
                               oninput="jakoo()">
                        <label for="domain"><i class="tiny material-icons left">language</i>Domain</label>
                    </div>
                    <div class="input-field col s8 offset-s2">
                        <textarea id="reason" class="materialize-textarea" length="150" name="reason"
                                  oninput="jakoo()"></textarea>
                        <label for="reason"><i
                                    class="tiny material-icons left">chat_bubble_outline</i>Begründung</label>
                    </div>
                </div>
                <div class="row">
                    <div class="waves-effect waves-light btn col s4" style="visibility: hidden">Abschicken</div>
                    <button disabled="true" id="sub" class="btn waves-effect waves-light disabled col s4"
                            type="submit" name="action"
                            data-position="bottom" data-delay="50"
                            data-tooltip="Anfrage senden">
                        Abschicken
                    </button>
                    <div class="waves-effect waves-light btn col s4" style="visibility: hidden">Abschicken</div>
                </div>
            </form>
        </div>
    {% endblock %}