{% extends('FrontEndBundle::base.html.twig') %}
{% block siteTitle %}Meine Whitelist-Anfragen{% endblock %}
{% block customStyles %}
<style>
.template {
    display: none;
}
.whitelist-request-entry::after{
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}
.allowed {
    background: #c8e6c9;
}

.denied {
    background: #ef9a9a;
}

.pending {
    background: #b3e5fc;
}
.header{
    display:                flex;
    flex-flow:              row nowrap;
    justify-content:        space-between;
    align-items:            flex-start;

}
.decided-by-container{
    display:                flex;
    flex-flow:              row nowrap;
    justify-content:        center;
    align-items:            center;

    margin:                 10px 10px 0 0;
}
.decided-by, .decided-by-container label{
    font-size:              large;
    font-weight:            600;
}
.pending .decided-by-container{
    display:                none;
}
.domain{
    margin-top: 0;
}
</style>
{% endblock %}
{% block customScripts %}
<script>
'use strict';
var apikey = localStorage.getItem('apikey');
var stateClasses = ['pending', 'allowed', 'denied'];
$(document).ready(function(){
    $.ajax({
        url: '{{ path('list_white_list_request',{'username' : username }) }}',
        type: "GET",
        headers: {
            "apikey": apikey
        },
        success:function (data) {
            $.each(data,function(index, element){

                var requestTemplate = $('#whitelist-request-template').clone();
                requestTemplate.removeAttr('id');
                requestTemplate.removeClass('template');

                var target = element.whitelist_target;
                var formattedDate = new Date(element.created).format('dd.mm.yyyy " um " H:MM " Uhr"');
                var adminName;
                if(target.decided_by){
                    if(!target.decided_by.firstname&&!target.decided_by.lastname) {
                        adminName = target.decided_by.firstname+" "+target.decided_by.lastname;
                    }else{
                        adminName = target.decided_by.username;
                    }
                }else{
                    requestTemplate.find('.decided-by-container').hide();
                }

                requestTemplate.addClass(stateClasses[target.state]);
                requestTemplate.find('.domain').text(target.domain);
                requestTemplate.find('.decided-by').text(adminName);
                requestTemplate.find('.reason').text(element.reason);
                requestTemplate.find('.created').text(formattedDate);
                $('.whitelist-request-list').append(requestTemplate);
                //requestTemplate.delay(index*150).fadeIn(300);
            });
        }
    });
});
</script>
{% endblock %}
{% block title %}
    <h1>Meine Whitelist-Anfragen</h1>
{% endblock %}
{% block mainContent %}
<div class="whitelist-request-list container">

    <div id="whitelist-request-template" class="whitelist-request-entry card template">
        <div class="card-content">
            <header class="header">
                <h4 class="domain">Domain-Name</h4>
                <div class="decided-by-container">
                    <label>entschied:</label>
                    <div class="decided-by"></div>
                </div>
            </header>
            <div class="container">
                <blockquote>
                    <p class="reason">Begründung</p>
                    <cite class="created">Datum</cite>
                </blockquote>
            </div>
        </div>
    </div>

</div>
{% endblock %}