{% extends('FrontEndBundle::base.html.twig') %}
{% block siteTitle %}Meine Whitelist-Anfragen{% endblock %}
{% block customStyles %}
<style>
.template {
    display: none;
}
.whitelist-request-entry::after{
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

.allowed {
    background: #c8e6c9;
}

.denied {
    background: #ef9a9a;
}

.pending {
    background: #b3e5fc;
}
.suballowed{
    background: #fff176;
}

.header{
    display:                flex;
    flex-flow:              row nowrap;
    justify-content:        space-between;
    align-items:            flex-start;

}

.header .whitelist-request-target-info {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.decided-by-container{
    display:                flex;
    flex-flow:              row nowrap;
    justify-content:        center;
    align-items:            center;

    margin:                 10px 10px 0 0;
}

.decided-by, .decided-by-container label{
    font-size:              large;
    font-weight:            600;
}

.pending .decided-by-container{
    display:                none;
}

.domain{
    margin-top: 0;
}

.legend{
    position:               fixed;
    bottom:                 20px;
    right:                  10px;

}

.legend .entry{
    height:                 25px;
    width:                  100%;

    padding:                0 10px;
}

.state-icon {
    width: 55.5px;
    height: 55.5px;
    border-radius: 50%;
    text-align: center;
}

.whitelist-request-entry.allowed .state-icon {
    background: #8bc34a;
}
.whitelist-request-entry.denied .state-icon {
    background: #c62828;
}
.whitelist-request-entry.pending .state-icon {
    background: #64b5f6;
}

.state-icon .material-icons {
    display: none;
    line-height: 55.5px;
    font-size: 40px;
    color: #fff;
}

.allowed .state-icon .icon-allowed {
    display: unset;
}

.denied .state-icon .icon-denied {
    display: unset;
}

.pending .state-icon .icon-pending {
    display: unset;
}

</style>
{% endblock %}
{% block customScripts %}
    <script src="{{ asset('bundles/frontend/js/sortRequests.js') }}"></script>
<script>
'use strict';
var apikey = localStorage.getItem('apikey');
var stateClasses = ['pending', 'allowed', 'denied'];
$(document).ready(function(){
    if (apikey == "null")
        window.open('/nwl/web/app_dev.php/frontend/login', '_self');
    $.ajax({
        url: '{{ path('list_white_list_request',{'username' : username }) }}',
        type: "GET",
        headers: {
            "apikey": apikey
        },
        success:function (data) {
            data = sortRequests(data);
            insertRequests(data.pending, '#whitelist-requests-pending');
            insertRequests(data.processed, '#whitelist-requests-done');
        }
    });
});

function insertRequests(data, elementSelector) {
    $.each(data,function(index, element){

        var requestTemplate = $('#whitelist-request-template').clone();
        requestTemplate.removeAttr('id');
        requestTemplate.removeClass('template');

        var target = element.whitelist_target;

        var formattedDate;
        if (checkIfInternetExplorer()) formattedDate = new Date(element.created).format('dd.mm.yyyy " um " H:MM " Uhr"');
        else formattedDate = element.created;

        var adminName;
        if(target.decided_by){
            if(!target.decided_by.firstname&&!target.decided_by.lastname) {
                adminName = target.decided_by.firstname+" "+target.decided_by.lastname;
            }else{
                adminName = target.decided_by.username;
            }
        }else{
            requestTemplate.find('.decided-by-container').hide();
        }

        if (target.state === 1) {
            requestTemplate.find('.domain-link').attr('href', '//' + target.domain);
        }

        requestTemplate.addClass(stateClasses[target.state]);
        requestTemplate.find('.domain').text(target.domain);
        requestTemplate.find('.decided-by').text(adminName);
        requestTemplate.find('.reason').text(element.reason);
        requestTemplate.find('.created').text(formattedDate);
        $(elementSelector).append(requestTemplate);
        //requestTemplate.delay(index*150).fadeIn(300);
    });
}
</script>
{% endblock %}
{% block title %}
    <h1>Meine Whitelist-Anfragen</h1>
{% endblock %}
{% block mainContent %}
<div class="whitelist-request-list container">

    <div id="whitelist-request-template" class="whitelist-request-entry card template">
        <div class="card-content">
            <header class="header">
                <div class="whitelist-request-target-info">
                    <a class="domain-link" target="_blank"><h2 class="domain flow-text">Domain-Name</h2></a>
                    <div class="decided-by-container decision-style">
                        <label class="decision-style">Bearbeiter: </label>
                        <div class="decided-by"></div>
                    </div>
                </div>
                <div class="state-icon z-depth-1">
                    <i class="material-icons icon-pending" title="Ausstehend">query_builder</i>
                    <i class="material-icons icon-allowed" title="Freigegeben">done</i>
                    <i class="material-icons icon-denied" title="Abgelehnt">not_interested</i>
                </div>
            </header>
            <div class="container">
                <blockquote>
                    <p class="reason">Begründung</p>
                    <cite class="created">Datum</cite>
                </blockquote>
            </div>
        </div>
    </div>

    <section id="whitelist-requests-pending"></section>
    <hr/>
    <section id="whitelist-requests-done"></section>

</div>
<div class="legend card">
    <div class="entry allowed"><span class="label">Freigegeben</span></div>
    <div class="entry suballowed"><span class="label">Sub Freigegeben</span></div>
    <div class="entry denied"><span class="label">Abgelehnt</span></div>
    <div class="entry pending"><span class="label">Ausstehend</span></div>
</div>
{% endblock %}